<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>List Users</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
	<div>
		<form th:action="@{/logout}" method="post">
			<p>
				Welcome <b>[[${#request.userPrincipal.principal.username}]]</b>
			</p>
			<input type="submit" value="Sign Out" />
		</form>
	</div>
	<div>
		<h2>List of Users</h2>
	</div>
	
	<div>
		<table class="table table-striped table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>User ID</th>
					<th>Username</th>
					<th>Address</th>
					<th>Phone</th>
					<th>Card number</th>
					<th>Borrowed books</th>
				</tr>
			</thead>
			<tbody>

				<tr th:each="user: ${listUsers}">
					<td th:text="${user.id}">User ID</td>
					<td th:text="${user.username}">Username</td>
					<td th:text="${user.address}">Address</td>
					<td th:text="${user.phone}">Phone</td>
					<td th:text="${user.cardNr}">Card number</td>
					<td th:if="${user.borrowedBooksString.size > 0}" th:text="${user.borrowedBooksString}">Borrows</td>
					<td th:if="${user.borrowedBooksString.size == 0}">-</td>
				</tr>
				
			</tbody>
		</table>
	</div>
	<div>
		<h2>List of Admins</h2>
	</div>
	<div>
		<table class="table table-striped table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>User ID</th>
					<th>Username</th>
					<th>Address</th>
					<th>Salary</th>
					<th>Vacation days</th>
					<th>Edit</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="admin: ${listAdmins}">
					<td th:text="${admin.id}">User ID</td>
					<td th:text="${admin.username}">Username</td>
					<td th:text="${admin.address}">Address</td>
					<td th:text="${admin.salary}">Salary</td>
					<td th:text="${admin.vacationDays}">Vacation days</td>
					<td>
						<form method="POST" th:action="@{/edit(admin=${admin.id}, salary='test')}">
							<button type="submit" name="submit" value="value" class="link-button">Edit</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>