<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Library</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
	<div>
		<form th:action="@{/logout}" method="post">
			<p>
				Welcome <b>[[${#request.userPrincipal.principal.username}]]</b>
			</p>
			<input type="submit" value="Sign Out" />
		</form>
	</div>
	<div>
		<h2>List of Books</h2>
	</div>
	
	<div>
		<table class="table table-striped table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>Book ID</th>
					<th>Title</th>
					<th>Author</th>
					<th>Pages</th>
					<th>Class</th>
                    <th>Available</th>
				</tr>
			</thead>
			<tbody>

                <form th:action="@{/library}">
                    Search book title: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" />
                    &nbsp;
                    <input type="submit" value="Search" />
                </form>

                <br><br>

				<tr th:each="book: ${listBooks}">
					<td th:text="${book.id}">Book ID</td>
					<td th:text="${book.title}">Title</td>
					<td th:text="${book.author}">Author</td>
					<td th:text="${book.pages}">Pages</td>
					<td th:text="${book.category}">Class</td>
                    <td>
						<form th:if="${book.borrows.size == 0}" method="POST" th:action="@{/borrow(book=${book.id})}">
							<button type="submit" name="submit" value="value" class="link-button">Borrow</button>
						</form> 
                        <span th:if="${book.borrows.size > 0}">Not in stock</span>
                    </td>
                </tr>
				
			</tbody>
		</table>

		<div>
			<h2>List of Magazines</h2>
		</div>

		<table class="table table-striped table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>Magazine ID</th>
					<th>Title</th>
					<th>Date</th>
					<th>Location</th>
				</tr>
			</thead>
			<tbody>
				<form th:action="@{/library}">
                    Search magazine title: <input type="text" name="keywordMag" id="keywordMag" size="50" th:value="${keywordMag}" />
                    &nbsp;
                    <input type="submit" value="Search" />
                </form>

                <br><br>
				<tr th:each="magazine: ${listMagazines}">
					<td th:text="${magazine.id}">Magazine ID</td>
					<td th:text="${magazine.title}">Title</td>
					<td th:text="${magazine.date}">Date</td>
					<td th:text="${magazine.location}">Location</td>                    
                </tr>
				
			</tbody>
		</table>
	</div>
	
</div>
</body>
</html>